.app-bar {
  margin: 1rem;
  bottom: 0;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-bar input {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.app-bar button {
  color: whitesmoke;
  background: black;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 3px;
  opacity: 0.5;
}

.app-bar input:focus {
  border-color: #929292;
}
.clearField button:hover,
.app-bar button:hover {
  background: #656463;
}
.app-bar button:active {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
	.app-bar input {
    width: 80%;
	}
}