.clear-todos {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-todos button {
  color: whitesmoke;
  background: black;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 3px;
  opacity: 0.5;
}
.clear-todos button:hover {
  background: #656463;
}
.clear-todos button:active {
  opacity: 1;
}
