%ui-base {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.ui-header {
  @extend %ui-base;
}

.ui-tagline {
  @extend %ui-base;
  font-size: 0.9rem;
}

svg {
  height: 20vh;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  svg {
    height: 50vh;
    width: 100%;
  }
}
