%ui-base {
    font-family: "Poppins", sans-serif;
}
.ui-header {
    @extend %ui-base;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: darkslategray;
  }
  
  .ui-tagline {
    @extend %ui-base;
    font-size: 0.95rem;
    text-transform: uppercase;
    margin: 1rem auto;
    color: black;
  }
