.page-header{
    text-align: center;
    padding: 3rem 0;
    ul{
        font-size: 1rem;
    }
}
.title{
    font-size: 1.25rem;
}

.ui-button{
    background:#0000;
    border:none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0 0;
    color:#ffffff;
}