body {
    background-color: white;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 1rem 6rem;
    position: relative;
    max-width: 480px;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}