
  body{
    width: 100%;
    height: 100vh;
    padding: 10px;
  }
  .app{
    background:whitesmoke;
    max-width: 400px;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .app header{
    font-size: 30px;
    font-weight: 600;
  }
  .app .app-bar{
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
  }
  .app-bar input{
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
  }
  .app-bar input:focus{
    border-color: #929292;
  }
  .app-bar button{
    color: whitesmoke;
    background: black;
    width: 50px;
    height: 100%;
    border: none;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .clearField button:hover,
  .app-bar button:hover{
    background: #656463;
  }
  .app-bar button.active{
    opacity: 1;
    pointer-events: auto;
  }
  .app .todo-list{
    max-height: 250px;
    overflow-y: auto;
  }
  .todo-list li{
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
  }
  .todo-list li .icon{
    margin: 2rem;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: black;
  }

  .clear-todos{
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .clear-todos button{
    color: white;
    background: black;
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .clear-todos button .active{
    opacity: 1;
    pointer-events: auto;
  }
  