@import 'reboot';
@import 'vars';
@import 'app-bar';
@import '_header';
@import '_todos';

body {
    font-family: "Poppins", sans-serif;
    background: white;
    background-size: 100%;
    text-align: center;
}

#app {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    margin: auto;
    padding-bottom: 32px;
  }

  svg {
    background-position: top center;
    width: center;
}
